name: run main.py

on:
  schedule:
    # Runs every day at 7 a.m. except Tuesday and Wednesday
    - cron: '0 6 * * 0,1,3-6'  # Sunday, Monday, Thursday, Friday, Saturday
    # Runs on Tuesday and Wednesday at 11 a.m.
    - cron: '0 10 * * 2,3'      # Tuesday and Wednesday

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: install webdriver manager packages
        run: pip install --upgrade webdriver_manager

      - name: install selenium packages
        run: pip install --upgrade selenium
          
      - name: execute py script # run main.py
        env:
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python main.py

      - name: execute py script # run main.py for second account
        env:
          USERNAME: ${{ secrets.SECOND_USERNAME }}
          PASSWORD: ${{ secrets.SECOND_PASSWORD }}
        run: python main.py

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
